* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em auto;

  h1 {
    padding: .4em;
    text-align: center;
    font-size: 1.25rem;
  }

  .pokemon-style {
    background: linear-gradient(to right, red 50%, white 50%);
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
  }

  .card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90vw !important;
    flex-wrap: wrap;
    margin: auto;
    cursor: pointer;

    .card-body {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: .5em auto;
      min-width: 24%;
      border-radius: 0.25rem;
      transition: all 0.3s;
      animation: fadeInUp 0.3s ease-in-out;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
      }

      .img-fluid {
        max-height: 150px;
      }
    }
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 0;

    button {
      border: none;
      border-radius: 4px;
      background-color: transparent;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 20px;
      padding: 0px 6px;

      &:focus {
        outline: 2px solid #000;
      }

      &:disabled {
        cursor: not-allowed;
      }

    }
  }
}

@media (max-width: 1200px) {
  .card-body {
    width: 33%;
  }
}

@media (max-width: 992px) {
  .card-body {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .card-body {
    width: 48%;
  }
}

@media (max-width: 576px) {
  .card-body {
    padding-left: 1em;

    .pokemon-types {
      width: 55% !important;

      h3 {
        font-size: 1rem;
        border: 1px solid black;
      }
    }

    img {
      width: 45%;
    }

    width: 100%;
  }
}
